extends layouts/layout

block article
    article
        .metadata
            h1 #{attr.title}
            p
                time(datetime=attr.published) #{attr.published}
                |  新規

            if attr.edited === "" || attr.edited === undefined
                p
                    time(datetime=attr.edited) #{attr.edited}
                    |  更新

        | !{body}
