<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        title Lunaris - !{attr.title}

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        link(rel="stylesheet" href=base + "css/main.css")
        link(rel='manifest', href=base + 'manifest.json')
        link(rel="canonical", href="https://lunaris.fedyya.net/" + url)

        meta(name="description"  content="")
        meta(name="author"       content="AKANE AKAGI")
        meta(name="theme-color"  content="#02020e")

        //- OGP
        meta(property="og:locale"        content="ja_JP")
        meta(property="og:description"   content="")
        meta(property="og:image"         content="https://lunaris.fedyya.net/images/eyecatch.png")
        meta(property="og:image:width"   content="1024")
        meta(property="og:image:height"  content="1024")
        meta(property="og:image:type"    content="image/png")
        meta(property="og:site_name"     content="Lunaris")
        meta(property="og:title"         content=attr.title)
        meta(property="og:type"          content="Website")
        meta(property="og:url"           content="https://lunaris.fedyya.net/" + url)

        //- トゥーウィッターウアー・OGP
        meta(name="twitter:card"    content="summary")
        meta(name="twitter:site"    content="@akgmoegi")
        meta(name="twitter:creator" content="@akgmoegi")

    body
        main
            block article

            footer
                a(rel="license", href="http://creativecommons.org/licenses/by/4.0/")
                  img(alt="クリエイティブ・コモンズ・ライセンス", style="border-width:0", src="https://i.creativecommons.org/l/by/4.0/88x31.png")
                br
                a(xmlns:cc="http://creativecommons.org/ns#", href="https://lunaris.fedyya.net/" + url, property="cc:attributionName", rel="cc:attributionURL") あかれぎ
                | 作『
                span(xmlns:dct="http://purl.org/dc/terms/", href="http://purl.org/dc/dcmitype/Text", property="dct:title", rel="dct:type") !{title}
                | 』は
                a(rel="license", href="http://creativecommons.org/licenses/by/4.0/") クリエイティブ・コモンズ 表示 4.0 国際 ライセンス
                | で提供されています。

        script(type='application/ld+json').
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Lunaris - !{attr.title}",
                "image": "https://lunaris.fedyya.net/images/eyecatch.png",
                "keywords": "Ar Tonelico, Hymmnos, conlang, アルトネリコ, ヒュムノス, 人工言語, 創作, !{title}",
                "license": "http://creativecommons.org/licenses/by/4.0/",
                "genre": "hymmnos",
                "author": {
                    "@type": "Person",
                    "name": "AKANE AKAGI",
                    "additionalName": "akaregi",
                    "url": "https://twitter.com/akgmoegi"
                },
                "copyrightHolder": {
                    "@type": "Person",
                    "name": "AKANE AKAGI",
                    "additionalName": "akaregi",
                    "url": "https://twitter.com/akgmoegi"
                },
                "copyrightYear": 2019
            }
